<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center">Registro</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <h6>Registro del Usuario</h6>
  <mat-stepper orientation="vertical" labelPosition="bottom" #stepper>
    <mat-step [stepControl]="datosPersonalesForm">
      <form [formGroup]="datosPersonalesForm" (submit)="datosPersonalesSubmit()">
        <ng-template matStepLabel>Datos Personales </ng-template>
        <mat-form-field class="example-full-width" appearance="legacy">
          <mat-label>Apellidos:</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="legacy">
          <mat-label>Nombres:</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="legacy">
          <mat-label>Cédula:</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="legacy">
          <mat-label>Edad:</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="legacy">
          <mat-label>Género:</mat-label>
          <input matInput />
        </mat-form-field>
        <div class="text-center">
          <button style="margin-top: 10px;" mat-raised-button color="primary" matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="informacionImportanteForm">
      <form [formGroup]="informacionImportanteForm" (submit)="informacionImportanteSubmit()">
        <ng-template matStepLabel>Información Importante</ng-template>
        <mat-form-field class="example-full-width" appearance="legacy">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="legacy">
          <mat-label>Email</mat-label>
          <input matInput placeholder="example@example.com" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="Max 10 números" class="example-full-width" appearance="legacy">
          <mat-label>Teléfono:</mat-label>
          <input matInput #input_phone maxlength="10" />
          <mat-hint align="end">{{input_phone.value?.length || 0}}/10</mat-hint>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="legacy">
          <mat-label>Ciudad:</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="legacy">
          <mat-label>Dirección:</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </form>
      <div class="text-center">
        <button mat-raised-button color="primary" matStepperPrevious>Regresar</button>
        <button style="margin-top: 10px;" mat-raised-button color="primary" matStepperNext>Siguiente</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="datosDeRegistroForm">
      <form [formGroup]="datosDeRegistroForm" (submit)="datosDeRegistroSubmit()">
        <ng-template matStepLabel>Datos de Registro</ng-template>
        <mat-form-field class="example-full-width" appearance="legacy">
          <mat-label>Usuario:</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field hintLabel="Max 12 caracteres" class="example-full-width" appearance="legacy">
          <mat-label>Contraseña:</mat-label>
          <input matInput #input_pass maxlength="12" [type]="hide ? 'password' : 'text'">
          <mat-hint align="end">{{input_pass.value?.length || 0}}/12</mat-hint>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="legacy">
          <mat-label>Nombre de la Madre:</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="legacy">
          <mat-label>Nombre de la Mascota:</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="legacy">
          <mat-label>Fruta Favorita:</mat-label>
          <input matInput />
        </mat-form-field>
      </form>
      <div class="text-center">
        <button mat-raised-button color="primary" matStepperPrevious>Regresar</button>
        <button style="margin-top: 10px;" mat-raised-button color="primary" matStepperNext>Siguiente</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="metodoDeAuntenticacionForm">
      <ng-template matStepLabel>Método de Autenticación</ng-template>
      <form [formGroup]="metodoDeAuntenticacionForm" (submit)="metodoDeAuntenticacionSubmit()">
        <mat-label style="color: black;">¿Que nombre vas a elegir?</mat-label>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
          <mat-radio-button class="example-radio-button" value="madre">Madre</mat-radio-button>
          <mat-radio-button class="example-radio-button" value="mascota">Mascota</mat-radio-button>
          <mat-radio-button class="example-radio-button" value="fruta">Fruta Favorita</mat-radio-button>
        </mat-radio-group>
        <mat-label style="color: black;">¿Qué tipo de letras va a escoger?</mat-label>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
          <mat-radio-button class="example-radio-button" value="vocales">Vocales</mat-radio-button>
          <mat-radio-button class="example-radio-button" value="consonantes">Consonantes</mat-radio-button>
        </mat-radio-group>
      </form>
      <div class="text-center">
        <button mat-raised-button color="primary" matStepperPrevious>Regresar</button>
        <button routerLink="/login" style="margin-top: 10px;" mat-raised-button color="primary">Registrarse</button>
      </div>
    </mat-step>
  </mat-stepper>
</ion-content>
