$sample-gap: 0px;
.sample-split,
.sample-step-actions {
	display: flex;
	gap: $sample-gap;
}

.sample-split {
	> * {
		max-width: 380px;
		flex: 1;
	}
	margin-bottom: $sample-gap;
}

button{
	margin: 10px;
}
.datе-picker-wrapper {
    padding: 1rem;
    max-width: 600px;
}
.button-sample {
    margin: 15px;
}