<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center">Registro</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <igx-stepper #stepper orientation="vertical">
    <ng-template igxStepActiveIndicator>
      <igx-icon>edit</igx-icon>
    </ng-template>
    <ng-template igxStepInvalidIndicator>
      <igx-icon>error</igx-icon>
    </ng-template>
    <ng-template igxStepCompletedIndicator>
      <igx-icon>check</igx-icon>
    </ng-template>
    <igx-step>
      <span igxStepTitle>Datos Personales</span>
      <div igxStepContent>
        <form [formGroup]="datosPersonalesForm">
          <igx-input-group>
            <input igxInput name="Apellidos" formControlName="apellidos" type="text" required />
            <label igxLabel for="Apellidos" id="Apellidos">Apellidos:</label>
          </igx-input-group>
          <igx-input-group>
            <input igxInput name="Nombres" formControlName="nombres" type="text" required />
            <label igxLabel for="Nombres" id="Nombres">Nombres:</label>
          </igx-input-group>
          <igx-input-group>
            <input igxInput name="Cedula" formControlName="cedula" type="text" required />
            <label igxLabel for="Cedula" id="Cedula">Cédula:</label>
          </igx-input-group>
          <igx-input-group>
            <input igxInput name="Edad" formControlName="edad" type="text" required />
            <label igxLabel for="Edad" id="Edad">Edad:</label>
          </igx-input-group>
          <igx-input-group>
            <input igxInput name="Genero" formControlName="genero" type="text" required />
            <label igxLabel for="Genero" id="Genero">Género:</label>
          </igx-input-group>
        </form>
        <div class="sample-step-actions">
          <button igxButton="raised" (click)="stepper.next()"
            [disabled]="!datosPersonalesForm.valid"><igx-icon class="m-2">keyboard_arrow_right</igx-icon>Siguiente</button>
        </div>
      </div>
    </igx-step>
    <igx-step [disabled]="!datosPersonalesForm.valid">
      <span igxStepTitle>Información Importante</span>
      <div igxStepContent>
        <form [formGroup]="informacionImportanteForm">
          <div class="date-picker-wrapper">
            <igx-date-picker formControlName="fecha">
              <label igxLabel>Fecha de Nacimiento</label>
            </igx-date-picker>
          </div>
          <igx-input-group>
            <input igxInput name="email" formControlName="email" type="email" required email />
            <label igxLabel for="email" id="email">Email:</label>
          </igx-input-group>
          <igx-input-group>
            <input igxInput name="telefono" formControlName="telefono" type="text" required maxlength="10" />
            <label igxLabel for="telefono" id="telefono">Teléfono:</label>
          </igx-input-group>
          <igx-input-group>
            <input igxInput name="ciudad" formControlName="ciudad" type="text" required />
            <label igxLabel for="ciudad" id="ciudad">Ciudad:</label>
          </igx-input-group>
          <igx-input-group>
            <textarea igxInput name="direccion" formControlName="direccion" type="text" required></textarea>
            <label igxLabel for="direccion" id="direccion">Direccion:</label>
          </igx-input-group>
        </form>
        <div class="sample-step-actions">
          <button igxButton="raised" (click)="stepper.prev()"><igx-icon class="m-2">keyboard_arrow_left</igx-icon>Regresar</button>
          <button igxButton="raised" (click)="stepper.next()"
            [disabled]="!informacionImportanteForm.valid"><igx-icon class="m-2">keyboard_arrow_right</igx-icon>Siguiente</button>
        </div>
      </div>
    </igx-step>
    <igx-step [disabled]="!informacionImportanteForm.valid">
      <span igxStepTitle>Datos de Registro</span>
      <div igxStepContent>
        <form [formGroup]="datosDeRegistroForm">
          <igx-input-group>
            <input igxInput name="usuario" formControlName="usuario" type="text" required />
            <label igxLabel for="usuario" id="usuario">Usuario:</label>
          </igx-input-group>
          <igx-input-group>
            <input igxInput name="password" formControlName="password" type="password" required />
            <label igxLabel for="password" id="password">Contraseña:</label>
          </igx-input-group>
          <igx-input-group>
            <input igxInput name="madre" formControlName="madre" type="text" required />
            <label igxLabel for="madre" id="madre">Nombre de la Madre:</label>
          </igx-input-group>
          <igx-input-group>
            <input igxInput name="mascota" formControlName="mascota" type="text" required />
            <label igxLabel for="mascota" id="mascota">Nombre de la Mascota:</label>
          </igx-input-group>
          <igx-input-group>
            <input igxInput name="fruta" formControlName="fruta" type="text" required />
            <label igxLabel for="fruta" id="fruta">Fruta Favorita:</label>
          </igx-input-group>
        </form>
        <div class="sample-step-actions">
          <button igxButton="raised" (click)="stepper.prev()"><igx-icon class="m-2">keyboard_arrow_left</igx-icon> Regresar</button>
          <button igxButton="raised" (click)="stepper.next()"
            [disabled]="!datosDeRegistroForm.valid"><igx-icon class="m-2">keyboard_arrow_right</igx-icon>Siguiente</button>
        </div>
      </div>
    </igx-step>
    <igx-step [disabled]="!datosDeRegistroForm.valid">
      <span igxStepTitle>Método de Autenticación</span>
      <div igxStepContent>
        <form [formGroup]="metodoDeAuntenticacionForm">
          <p class="text-dark m-2">¿Que nombre vas a elegir?</p>
          <igx-radio-group [alignment]="alignment" formControlName="eleccion1">
            <igx-radio value="madre">Madre</igx-radio>
            <igx-radio value="mascota">Mascota</igx-radio>
            <igx-radio value="fruta">Fruta Favorita</igx-radio>
          </igx-radio-group>
          <p class="text-dark m-2">¿Qué tipo de letras va a escoger?</p>
          <igx-radio-group [alignment]="alignment" formControlName="eleccion2">
            <igx-radio value="vocales">Vocales</igx-radio>
            <igx-radio value="consonantes">Consonantes</igx-radio>
          </igx-radio-group>
        </form>
        <div class="d-grid gap-2 button-sample">
          <button igxButton="raised" (click)="submit()"><igx-icon class="m-2">save</igx-icon> Registrarse</button>
        </div>
        <div class="row">
          <div class="d-grid gap-2 col-6">
            <button igxButton="raised" (click)="stepper.prev()"><igx-icon class="m-2">keyboard_arrow_left</igx-icon> Regresar</button>
          </div>
          <div class="d-grid gap-2 col-6">
            <button igxButton="raised" (click)="reset()"><igx-icon class="m-2">cancel</igx-icon>Cancelar</button>
          </div>
        </div>
        <div class="button-sample">


        </div>
        <div class="sample-step-actions">


        </div>
      </div>
    </igx-step>
  </igx-stepper>
</ion-content>
