<ion-header>
  <ion-toolbar>
    <div class="row">
      <div class="col-7">
        <ion-title>Inicio</ion-title>
      </div>
      <div class="col-5">
        <button (click)="logout()" igxButton="raised" class="btn">Cerrar Sesión</button>

      </div>
    </div>
   

  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="sample-column card-wrapper">
    <igx-card>
      <igx-card-media height="180px">
        <img [src]="card.imageUrl">
      </igx-card-media>

      <igx-card-header>
        <h3 igxCardHeaderTitle>{{card.title}}</h3>
        <h5 igxCardHeaderSubtitle>{{ card.subtitle }}</h5>
      </igx-card-header>

      <igx-card-content>
        <p>Cédula: {{usuario.cedula}} <br>
          Email: {{usuario.email}} <br>
          Fecha de nacimiento: {{usuario.nacimiento | date}} <br>
          Contacto: {{usuario.telefono}}</p>
      </igx-card-content>

      <igx-card-actions>
        <button igxButton igxRipple *ngFor="let button of card.buttons">{{ button }}</button>
        <button igxButton="icon" igxRipple igxRippleCentered="true" *ngFor="let icon of card.icons">
          <igx-icon>{{icon}}</igx-icon>
        </button>
      </igx-card-actions>

    </igx-card>
  </div>

</ion-content>
