<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-text-center">
    <h6 style="font-size: small;">Inicia sesión con tu usuario y contraseña.</h6>
    <img src="../../assets/img/logo.png" width="40%" alt="">
  </div>
  <div class="density-chooser">
    <form [formGroup]="form">
      <igx-input-group>
        <input igxInput formControlName="usuario" name="email" type="text" />
        <label igxLabel for="email">Usuario</label>
      </igx-input-group>
      <igx-input-group>
        <input igxInput formControlName="password" name="password" type="password" />
        <label igxLabel for="password">Contraseña</label>
      </igx-input-group>
    </form>
    <div class="d-grid gap-2 button-sample">
      <button (click)="login()" [disabled]="form.invalid" igxButton="raised" class="btn">INICIAR SESION</button>
    </div>

    <div class="d-grid gap-2 button-sample">
      <button routerLink="/registrar" class="btn" igxButton="raised">REGISTRARSE</button>
    </div>
  </div>
  <div igxOverlayOutlet>
    <igx-dialog #alert [message]="mensaje" leftButtonLabel="Aceptar" (leftButtonSelect)="close()">
      <igx-dialog-title>
        <div class="dialog-container">
          <igx-icon [style.color]="'#e41c77'">account_box</igx-icon>
          <div class="dialog-title">Notificación</div>
        </div>
      </igx-dialog-title>
      <div igxDialogActions class="dialog-container dialog-actions">
        <button igxButton="raised" igxRipple="white" (click)="alert.close()">Aceptar</button>
      </div>
    </igx-dialog>
  </div>
</ion-content>
