<ion-header>
  <ion-toolbar>
    <ion-title>Autenticación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="row"
      style="height: auto;margin:0;border-radius: 10px;border-color: black;border-style: groove; background-color: rgb(100, 108, 163);margin: 10px;">
      <div class="title p-2">
        <h5>Hola {{usuario.nombres}} {{usuario.apellidos}} </h5>
      </div>
    </div>
    <div class="container p-2"
      style="border-radius: 10px;border-color: black;border-style: groove;background-color:rgb(100, 108, 163)">
      <div class="container">
        <div class="row">
          <div class="col-10 select" style="background-color:rgb(255, 255, 255)">
            <div class="row">
              <div style="padding: 4px" class="col-3" *ngFor="let dato of seleccionado">
                <img class="seleccionados" *ngIf="dato.id_tipo!=1" [src]="dato.codigo" />
                <div class="seleccionados" *ngIf="dato.id_tipo===1" [ngStyle]="{'background': dato.codigo}"></div>
              </div>
            </div>
          </div>
          <div class="col-2" style="margin-left: -5px;">
            <button class="btn btn-danger my-2" (click)="deleteSeleccionar()">
              <igx-icon style="width: 0px;margin-left: -24px;">delete_forever</igx-icon>
            </button>
          </div>
        </div>
      </div>

    </div>
    <div class="loading">
      <div class="row"
        style="margin:0;border-radius: 10px;border-color: black;border-style: groove; background-color: rgb(100, 108, 163);">
        <div style="padding: 4px" class="col-4 choice" *ngFor="let dato of data">
          <img *ngIf="dato.id_tipo!=1" width="100" height="100" style="border-radius: 0px;" class="grow-in"
            [src]="dato.codigo" (click)="addSeleccionar(dato)" />
          <p class="coloresLetras" *ngIf="dato.id_tipo!=1">{{dato.nombre | uppercase}}</p>
          <div class="colores grow-in" *ngIf="dato.id_tipo===1" [ngStyle]="{'background': dato.codigo}"
            (click)="addSeleccionar(dato)"></div>
          <p class="coloresLetras" *ngIf="dato.id_tipo===1">{{dato.nombre | uppercase}}</p>
        </div>
      </div>
      <ngx-loading [show]="loading" [config]="{
          animationType: ngxLoadingAnimationTypes.circleSwish,
          backdropBorderRadius: '3px'
        }" [template]="loadingTemplate"></ngx-loading>
    </div>

    <p style="font-weight:bold" class="text-secondary m-2">Pista: {{pista}} <br>
    Posiciones: {{posiciones}}
    </p>
    
  </div>

  <igx-dialog #alert title="Notificación" [message]="mensaje" leftButtonLabel="Aceptar" (leftButtonSelect)="close()">
  </igx-dialog>
</ion-content>
